<template name="List">
  <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <!-- <img src="prestadores.jpeg" -->
            <a href="{{pathFor 'prestadoresPage'}}"><img src="prestadores.jpeg" class="img-responsive"></a>
            <!-- class="img-responsive"> -->
            <h2><a id="prestadores" href="/prestadores">Prestadores</a></h2>
          </div>
          <div class="col-md-4">
            <img src="farmacias.jpeg"
            class="img-responsive">
            <h2><a id="farmacias" href="/farmacias">Farmacias</a></h2>
          </div>
          <div class="col-md-4">
            <img src="emergencias.jpeg"
            class="img-responsive">
            <h2><a id="emergencias" href="/emergencias">Emergencias</a></h2>
          </div>
        </div>
      </div>
    </div>
</template>
